<div class="container mt-4">

  <!-- Botão Voltar -->
  <div class="mb-4">
    <button class="btn btn-secondary" routerLink="/">← Voltar para Home</button>
  </div>

  <!-- Loading -->
  @if (loading()) {
    <div class="alert alert-info">Carregando formulário...</div>
  }

  <!-- Formulário -->
  @if (template()) {
    <h3 class="mb-4">Formulário: {{ template()?.name }}</h3>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <!-- Campos dinâmicos -->
      @for (fg of formFields(); track fg.value.label) {
        <div class="mb-3">
          <label class="form-label">{{ fg.value.label }}</label>

          <input
            class="form-control"
            [type]="fg.value.type"
            [formControl]="getControl($index)"
            [required]="fg.value.required"
          />

          <!-- Validação -->
          @if (getControl($index).invalid && getControl($index).touched) {
            <div class="text-danger">Campo obrigatório!</div>
          }
        </div>
      }

      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
  }
</div>